@using static CrudConteiners.Enums.Enums;
@model CrudConteiners.Models.Movimentacoes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Movimentacoes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TipoMovimentacao" class="control-label"></label>
                <select asp-for="TipoMovimentacao" class="form-control">
                    @foreach (TipoMovimentacao tipo in Enum.GetValues(typeof(TipoMovimentacao)))
                    {
                        <option value="@((int)tipo)">@tipo.GetDescription()</option>
                    }
                </select>
                <span asp-validation-for="TipoMovimentacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraInicio" class="control-label"></label>
                <input asp-for="DataHoraInicio" class="form-control" />
                <span asp-validation-for="DataHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraFim" class="control-label"></label>
                <input asp-for="DataHoraFim" class="form-control" />
                <span asp-validation-for="DataHoraFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ID_Conteiner" class="control-label">Conteiner</label>
                <select asp-for="ID_Conteiner" class="form-control" asp-items="ViewBag.ID_Conteiner"></select>
                <span asp-validation-for="ID_Conteiner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
